# SÃ©ance 3 : fonctions

In [1]:
def salaire_mensuel(salaire_annuel):
    return salaire_annuel/12

In [4]:
def salaire_hebdomadaire(salaire_mensuel):
    return salaire_mensuel/4

In [5]:
def salaire_horaire(salaire_hebdomadaire, heures_travaillees):
    return salaire_hebdomadaire/heures_travaillees

In [25]:
def calcule_salaire_horaire(
        salaire_annuel,
        heures_travaillees=35
    ):
    return salaire_horaire(
        salaire_hebdomadaire=salaire_hebdomadaire(
            salaire_mensuel(salaire_annuel)
        ),
        heures_travaillees=heures_travaillees
    )

In [17]:
calcule_salaire_horaire(30000)

17.857142857142858

In [19]:
calcule_salaire_horaire(30000, 20)

31.25

In [23]:
calcule_salaire_horaire(
    salaire_annuel=30000
)

17.857142857142858

In [24]:
calcule_salaire_horaire(
    salaire_annuel=30000,
    heures_travaillees=20
)

31.25

In [11]:
calcule_salaire_horaire(
    heures_travaillees=35,
    salaire_annuel=30000
)

17.857142857142858

In [12]:
calcule_salaire_horaire(35, 30000)

2.4305555555555554e-05

### Scopes des variables

In [5]:
ma_variable_globale = 1200

In [2]:
def ma_fonction(arg1, arg2):
    l = [ma_variable_globale]*10
    return l

In [6]:
ma_fonction(None, None)

[1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200]

In [17]:
a = 50

In [31]:
def f(x, y):
    a = y**2 + x
    def g(x):
        return 2*x + y + a
    return g(x) + 5

In [32]:
f(5, 8)

92

In [22]:
ma_fonction2(50)

50

50

In [20]:
a

50

In [38]:
TAUX_DE_CHARGE = 0.19

In [39]:
def salaire_net(salaire_brut):
    return salaire_brut*(1-TAUX_DE_CHARGE)

In [40]:
salaire_net(2000)

1620.0